In [56]:
import pandas as pd

In [57]:
mo = ['04', '05', '06', '07', '08', '09']
days = list(range(1,32))

In [58]:
baseball_year = []
for i in mo:
    for j in days:
        if len(str(j)) == 1:
            baseball_year.append(i + '-0' + str(j))
        else:
            baseball_year.append(i + '-' +str(j))

In [59]:
baseball_year.pop(baseball_year.index('04-31'))
baseball_year.pop(baseball_year.index('06-31'))
baseball_year.pop(baseball_year.index('09-31'))

'09-31'

In [60]:
baseball_year.append('10-01')
baseball_year.append('10-02')
baseball_year.append('10-03')
baseball_year.append('10-04')
baseball_year.append('10-05')

In [67]:
baseball_year.insert(0, '03-31')

In [79]:
baseball_year.insert(0, '03-30')

In [80]:
baseball_year

['03-30',
 '03-31',
 '04-01',
 '04-02',
 '04-03',
 '04-04',
 '04-05',
 '04-06',
 '04-07',
 '04-08',
 '04-09',
 '04-10',
 '04-11',
 '04-12',
 '04-13',
 '04-14',
 '04-15',
 '04-16',
 '04-17',
 '04-18',
 '04-19',
 '04-20',
 '04-21',
 '04-22',
 '04-23',
 '04-24',
 '04-25',
 '04-26',
 '04-27',
 '04-28',
 '04-29',
 '04-30',
 '05-01',
 '05-02',
 '05-03',
 '05-04',
 '05-05',
 '05-06',
 '05-07',
 '05-08',
 '05-09',
 '05-10',
 '05-11',
 '05-12',
 '05-13',
 '05-14',
 '05-15',
 '05-16',
 '05-17',
 '05-18',
 '05-19',
 '05-20',
 '05-21',
 '05-22',
 '05-23',
 '05-24',
 '05-25',
 '05-26',
 '05-27',
 '05-28',
 '05-29',
 '05-30',
 '05-31',
 '06-01',
 '06-02',
 '06-03',
 '06-04',
 '06-05',
 '06-06',
 '06-07',
 '06-08',
 '06-09',
 '06-10',
 '06-11',
 '06-12',
 '06-13',
 '06-14',
 '06-15',
 '06-16',
 '06-17',
 '06-18',
 '06-19',
 '06-20',
 '06-21',
 '06-22',
 '06-23',
 '06-24',
 '06-25',
 '06-26',
 '06-27',
 '06-28',
 '06-29',
 '06-30',
 '07-01',
 '07-02',
 '07-03',
 '07-04',
 '07-05',
 '07-06',
 '07-07',
 '07-08',
 '07-09',
 '07-10',
 '07-11',
 '07-12',
 '07-13',
 '07-14',
 '07-15',
 '07-16',
 '07-17',
 '07-18',
 '07-19',
 '07-20',
 '07-21',
 '07-22',
 '07-23',
 '07-24',
 '07-25',
 '07-26',
 '07-27',
 '07-28',
 '07-29',
 '07-30',
 '07-31',
 '08-01',
 '08-02',
 '08-03',
 '08-04',
 '08-05',
 '08-06',
 '08-07',
 '08-08',
 '08-09',
 '08-10',
 '08-11',
 '08-12',
 '08-13',
 '08-14',
 '08-15',
 '08-16',
 '08-17',
 '08-18',
 '08-19',
 '08-20',
 '08-21',
 '08-22',
 '08-23',
 '08-24',
 '08-25',
 '08-26',
 '08-27',
 '08-28',
 '08-29',
 '08-30',
 '08-31',
 '09-01',
 '09-02',
 '09-03',
 '09-04',
 '09-05',
 '09-06',
 '09-07',
 '09-08',
 '09-09',
 '09-10',
 '09-11',
 '09-12',
 '09-13',
 '09-14',
 '09-15',
 '09-16',
 '09-17',
 '09-18',
 '09-19',
 '09-20',
 '09-21',
 '09-22',
 '09-23',
 '09-24',
 '09-25',
 '09-26',
 '09-27',
 '09-28',
 '09-29',
 '09-30',
 '10-01',
 '10-02',
 '10-03',
 '10-04',
 '10-05']

In [81]:
baseball_year_index = pd.DataFrame(baseball_year)

In [82]:
baseball_year_index.columns = ['DATE']

In [83]:
baseball_year_index.to_csv('csv_from_scrape/baseball_dates_index.csv', index=False)

In [84]:
test = pd.read_csv('csv_from_scrape/baseball_dates_index.csv')

In [85]:
test.head()

    DATE
0  03-30
1  03-31
2  04-01
3  04-02
4  04-03

### The next cell needs to be done when importing baseball_dates_index.csv to get rid of unnecessary random column and to set the index to the dates for the next step which will be combining the dates from each player's year .csv files.

In [78]:
test.set_index('DATE')

Empty DataFrame
Columns: []
Index: [03-31, 04-01, 04-02, 04-03, 04-04, 04-05, 04-06, 04-07, 04-08, 04-09, 04-10, 04-11, 04-12, 04-13, 04-14, 04-15, 04-16, 04-17, 04-18, 04-19, 04-20, 04-21, 04-22, 04-23, 04-24, 04-25, 04-26, 04-27, 04-28, 04-29, 04-30, 05-01, 05-02, 05-03, 05-04, 05-05, 05-06, 05-07, 05-08, 05-09, 05-10, 05-11, 05-12, 05-13, 05-14, 05-15, 05-16, 05-17, 05-18, 05-19, 05-20, 05-21, 05-22, 05-23, 05-24, 05-25, 05-26, 05-27, 05-28, 05-29, 05-30, 05-31, 06-01, 06-02, 06-03, 06-04, 06-05, 06-06, 06-07, 06-08, 06-09, 06-10, 06-11, 06-12, 06-13, 06-14, 06-15, 06-16, 06-17, 06-18, 06-19, 06-20, 06-21, 06-22, 06-23, 06-24, 06-25, 06-26, 06-27, 06-28, 06-29, 06-30, 07-01, 07-02, 07-03, 07-04, 07-05, 07-06, 07-07, 07-08, ...]

[189 rows x 0 columns]